---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "false"
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <!--获取图片 -->
    <script src="../trtmu.js"></script>
    <!--弹出层-->
    <script src="../tips.js"></script>
    <link href="../images.css" rel="stylesheet">
    <script src="../images.js"></script>
    <link href="../tips.css" rel="stylesheet">
    <link href="../trtmu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="max-width:100%;margin:auto;padding:0 30px 30px">
    <div class="tab-content">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#main" data-toggle="tab">壁纸</a>

            </li>
            <li>
                <a href="#dcim" data-toggle="tab">随手</a>
            </li>
        </ul>
    </div>


    <div id="myTabContent" class="tab-content">
        <div id="main" class="main clearfix tab-pane fade in active">
        </div>
        <div class="tab-pane fade" id="dcim">测试的div</div>
    </div>

    <h5 style="text-align:center;">
        本站部分文字、图片来源于网络，均为转载，版权属于原作者或网站。如有版权疑问，请与
        <label id="trtmu" style="color: #4aa8d8">站长</label>
        联系。
    </h5>
</div>

</body>
</html>